.main {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.leaderboard {
    width: 48%;
    margin: 10px 0;
}

.leaderboard h3 {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px grey;
    background-color: var(--table-color);
}

@media(max-width: 700px) {
    .leaderboard {
        width: 90%;
    }
}