<div class="main">
    <div class="leaderboard">
        <h3>Kubok 2023</h3>
        <table>
            <thead>
              <tr>
                <th>№</th>
                <th>Club name</th>
                <th>Played</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Lose</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of clubs; let index = index">
                <td>{{index + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.played}}</td>
                <td>{{data.win}}</td>
                <td>{{data.draw}}</td>
                <td>{{data.lose}}</td>
                <td>{{data.points}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="leaderboard">
        <h3>Premier League 2023</h3>
        <table>
            <thead>
              <tr>
                <th>№</th>
                <th>Club name</th>
                <th>Played</th>
                <th>Win</th>
                <th>Draw</th>
                <th>Lose</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of clubs; let index = index">
                <td>{{index + 1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.played}}</td>
                <td>{{data.win}}</td>
                <td>{{data.draw}}</td>
                <td>{{data.lose}}</td>
                <td>{{data.points}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>